  <div class="container mt-4 col-4 offset-4">
    <h1>New Class</h1>
    <%= simple_form_for @lesson do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.input :teacher_name %>
      <%= f.input :price %>
      <%= f.input :date %>
      <%= f.input :time %>
      <%= f.input :time_zone %>
      <%= f.input :description %>
      <%= f.submit "Submit", class:"form-actions btn btn-outline-primary rounded mb-3"%>
      <%= link_to "back", lessons_path, class:"form-actions btn btn-outline-primary rounded mb-3"%>
    <% end %>
  </div>