
<div class="card col-sm-12 col-md-6 mr-0 ml-0" style="width: 36rem; text-align: left; margin: auto; margin-top: 24px;">
  <% if @lesson.photo.attached? %>
    <img src=' <%= @lesson.photo %>' class="card-img-top mt-3" alt='photo' style= "height: 250px; object-fit: cover;">
  <% else %>
    <img src=' https://source.unsplash.com/random' class="card-img-top mt-3" alt='photo' style= "height: 250px; object-fit: cover;">
  <% end %>
  <div class="card-body">
    <h5 class="card-title" style="text-align: center; color: rgb(245, 122, 143);"><%= @lesson.teacher_name %></h5>
    <p class="card-text"><i class="fas fa-lessongy-bank mr-4"></i><%= @lesson.description %></p>
    <p><i class="fas fa-hand-holding-usd mr-4"></i><%= @lesson.price %>€/day</p>
    <p><i class="fas fa-map-marker-alt mr-4"></i><%= @lesson.time %></p>
    <p><i class="fab fa-odnoklassniki mr-4"></i><%= @lesson.time_zone %></p>
    <p><i class="fab fa-odnoklassniki mr-4"></i><%= @lesson.date %></p>
  </div>
</div>